$black: #222222;
$white: #FFFFFF;
$offwhite: #F1F1F1;

$blue-light: #2B5E92;
$blue: #293340;

$beige-light: #cea87a;
$beige-dark: #a98860;
$red: #e20020;

$fb-color: #3b5998;
$twitter-color: #00aced;
