---
import HouseLayout from '~/layouts/house.astro';
import ChamberPage from "~/components/ChamberPage";
import { getBillsForDate } from "~/api/v2/bills";

const data = await getBillsForDate('house', new Date());
---
<HouseLayout>
    <main>
        <ChamberPage
            today={[]}
            recent={[]}
            emptyMessage="The House has not taken action on any bills today. Check out the Recent tab to see what bills have been updated recently."
        />
    </main>
</HouseLayout>
