---
import HouseLayout from '~/layouts/house.astro';
import ChamberPage from "~/components/ChamberPage";
---
<HouseLayout>
    <main>
        <ChamberPage
            today={[]}
            recent={[]}
            emptyMessage="The House has no hearings scheduled today. Check out the Recent tab to see the latest hearings."
        />
    </main>
</HouseLayout>
